{% extends "nba/base.html"  %}

{% block title %}
    myNBA - {{ block.super }}
{% endblock %}

{% block content %}    



    <div class="content">
        <h1>Welcome to myNBA</h1>
        <p>Updates: We are slowly making progress on fantasy advice. We have (poor) matchup analysis now, and working on a points system.</p>
        <p>Right now all we can do is order players based on their stats, but
        check back in soon and we will be able to help you with your fantasy needs</p>
    </div>
    <div>
    	{% if error %}
        	<p style="color: red;">Please submit a search term. You may have mispelled a name or forgot to capitalize.</p>
    	{% endif %}
    	<form action="/search/" method="get">
  			Player 1 Name:
  				<input type="text" name="name">   |
  			Against Team:
  				<input type="text" name="team1"><br>
  			Player 2 Name:
  				<input type="text" name="name2">   |
  			Against Team:   
  				<input type="text" name="team2">
  				<input type="submit" value="Search"><br>
		</form>


    </div>

{% endblock %}