{% extends "nba/base.html"  %}

{% block title %}
    myNBA - {{ block.super }}
{% endblock %}

{% block content %}    



    <div class="content">
        <h1>Welcome to myNBA</h1>
        <p>Updates: Added Kevin Durant and Lebron James. Unfortunately, we are still working on the fantasy aspect of our website.</p>
        <p>Right now all we can do is order players based on their stats, but
        check back in soon and we will be able to help you with your fantasy needs</p>
    </div>
    <div>
    	{% if error %}
        	<p style="color: red;">Please submit a search term.</p>
    	{% endif %}
    	<form action="/search/" method="get">
  			Player 1 Name:
  				<input type="text" name="name">   |
  			   Player 1 Team:
  				<input type="text" name="team"><br>
  			Player 2 Name:
  				<input type="text" name="name2">   |
  			Player 2 Team:   
  				<input type="text" name="team">
  				<input type="submit" value="Search"><br>
		</form>


    </div>

{% endblock %}