{% extends "nba/base.html"  %}

{% block title %}
    myNBA - {{ block.super }}
{% endblock %}

{% block content %}    



    <div class="content">
        <h1>Welcome to myNBA</h1>
        <p>Sorry, we are currently missing out on your two favorite players (Lebron James and Kevin Durant).</p>
        <p>Right now all we can do is order players based on their stats, but
        check back in soon and we will be able to help you with your fantasy needs</p>
    </div>
    <div>
    	<form>
  			Player 1 Name:   
  				<input type="text" name="name">   |
  			   Player 1 Team:
  				<input type="text" name="team"><br>
  			Player 2 Name:
  				<input type="text" name="name">   |
  			Player 2 Team:   
  				<input type="text" name="team">
  				<input type="submit" value="Submit"><br>
		</form>
    </div>

{% endblock %}